a.unlike.toggle span.unlike-text,
a.like span.unlike-text {
    display: none;
}

a.unlike.toggle:hover span.unlike-text {
    display: inherit;
}

a.unlike:hover span.like-text {
    display: none;
}